<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Flowershop</display-name>
  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.controllers.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>hostName</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>1189</param-value>
  </context-param>
  <context-param>
    <param-name>sqlInstanceName</param-name>
    <param-value>MSSQLSERVER</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>sa</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>2512</param-value>
  </context-param>
  <context-param>
    <param-name>database</param-name>
    <param-value>FlowerShop</param-value>
  </context-param>
</web-app>